{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}Formulario{% endblock title %}

{% block css %}
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Por favor rellena los siguientes datos.</h1><br>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                <legend class="text-center lead">Datos Alumno</legend>
                {% csrf_token %}
                <!-- {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-4 col-lg-3 col-lg-offset-1 control-label">{{ field.label }}</label>
                        <div class="col-sm-7 col-lg-6">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %} -->
                {{ form|crispy }}
                <br />
                <p>* Campos obligatorios</p>
                <div class="text-center">
                    {% if request.user.student %}
                        <a href="{% url 'students:list' %}" class="btn btn-primary">Cancelar</a>
                    {% endif %}
                    <input type="submit" value="Guardar" class="btn btn-success btn-lg" />
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}