{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}¿Es sano hacer una sola comida al día?{% endblock %}

{% block content %}
    <header style="background-image: url({% static 'img/noticiasytips.jpg' %}); height: 75vh;">
        <div class="header-content">
            <div class="header-content-inner">
            </div>  
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading"><b>¿Es sano hacer una sola comida al día?</b></h1>
                <hr class="primary">
                <br>
                <FONT face="Lucida Sans Unicode"> 
                <p class="text-muted" align="justify">La dieta de una sola comida al día es un plan de pérdida de peso que asegura ayudar a las personas a perder peso mediante el ayuno intermitente. Al seguir esta dieta, únicamente realizamos una comida al día, generalmente la cena, y no se consume ninguna caloría más a lo largo del día. Sigue el tipo de ayuno denominado 23: 1, lo que significa que nos pasamos 23 horas al día ayunando y 1 hora al día comiendo y bebiendo.</p><img src="{% static 'img/Noticias/lahoradecomer.jpg' %}" style="max-width:50%;width:50%;" class="img-thumbnail">

                <br>
                <h3>¿Qué se puede comer en la dieta de una comida al día?</h3>

                <p class="text-muted" align="justify">Hay varias variaciones de esta dieta. Algunas sugieren consumir alimentos saludables y ricos en nutrientes, pero la mayoría de las versiones de esta dieta permiten a las personas comer lo que deseen durante su única comida del día.</p>

                <br>
                <h3>Beneficios potenciales</h3>

                <p class="text-muted" align="justify">Las personas que siguen esta dieta creen que existen numerosos beneficios al comer de esta manera, incluida la pérdida rápida de peso sin contar las calorías y sin 'cheatmeals' o 'comidas trampa', porque no hay alimentos prohibidos.
                <br>
                <br>
                <b>Se han realizado varios estudios sobre los efectos del ayuno intermitente.</b> Sin embargo, la mayoría se han llevado a cabo en hombres, de ahí que se tenga menos información acerca de los efectos del ayuno intermitente en las mujeres.
                <br>
                <br>
                <p class="text-muted" align="justify">Debido a los ciclos hormonales, es probable que los efectos del ayuno intermitente sean diferentes en las mujeres. También tienen distintos requisitos nutricionales en comparación con los hombres, incluido más hierro, que puede no cumplirse durante el ayuno.
                <br>
                <br>
                Los estudios realizados sobre ayuno intermitente muestran que puede ayudar a reducir los niveles de azúcar en la sangre y reducir el peso en personas con diabetes tipo 2, afectar positivamente a los ciclos de alimentación y sueño de las personas obesas y aumentar su esperanza de vida y puede beneficiar al sistema cardíaco y mejorar la memoria.</p>
                <br>
                <br>
                <blockquote class="blockquote-reverse" style="background-color: #DADADA">
                    <i><b>"Los riesgos de seguuir esta dieta son mayores que los posibles beneficios"</b></i>
                </blockquote>

                <br>
                <h3>Riesgos</h3>


                <p class="text-muted" align="justify">Si bien algunas investigaciones respaldan los beneficios del ayuno intermitente y la dieta de una comida al día, este tipo de gestión de la comida conlleva varios riesgos: <b>sentirse extremadamente hambriento, inestabilidad, debilidad, irritabilidad, incapacidad para concentrarse, fatiga, etc.</b><br><br>

                También <b>existen riesgos graves para las personas con afecciones médicas subyacentes.</b> Aquellos con diabetes o bajo nivel de azúcar en sangre (hipoglucemia) necesitan realizar comidas regularmente durante el día para evitar cualquier efecto secundario grave.
                <br>
                <br>
                El mismo estudio también descubrió que los participantes que seguían una dieta intermitente en ayunas <b>no experimentaron más pérdida de peso que aquellos que simplemente redujeron el número de calorías que comían cada día.</b>
                <br>
                <br>
                Finalmente, las personas que siguen la dieta de una comida al día pueden tener <b>un mayor riesgo de atracones y caer en el trastorno por atracón</b>, un patrón de alimentación desordenado en el que se ingieren cantidades inusualmente grandes de alimentos en un corto período de tiempo, incluso después de que esa persona se sienta llena o satisfecha.</p>
                
                <br>
                <h3>Conclusión</h3>


                <p class="text-muted" align="justify">La dieta de una comida al día no es la mejor opción para perder peso, ya que algunas personas corren más riesgo de sufrir efectos secundarios adversos. Aquellos que deseen perder peso deben comenzar por <b>hacer cambios pequeños y sostenibles en su dieta y en su</b> <b style="color: red">estilo de vida</b>. Lo mejor es consultar a un médico sobre cómo perder peso de manera segura, especialmente si tenemos alguna afección médica subyacente.</p>
                </FONT> 

                <blockquote>
                    <footer  align="right">Noticia de <cite title="Fuente">www.muyinteresante.es</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}
