{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Escuela Fit{% endblock title %}

{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">BIENVENIDO  <br>A  ESCUELA FIT</br></h1>
                <hr>
                <p><b>"Ejercítate, es una buena forma de darle gracias a nuestro cuerpo."</b></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">¿Qué es Escuela Fit?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Acerca de Escuela FIT</h2>
                    <hr class="light">
                    <p class="text-faded">Escuela Fit es un proyecto emprendido por alumnos
					del Instituto Politécnico Nacional.<br>
                    La página y artículos aquí mostrados son meramente
					informativos.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Usando escuela FIT</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usando Escuela FIT</h2>		
                    <hr class="primary">
                    <h4>Estás a punto de vivir un gran cambio en tu vida, por lo tanto al utilizar Escuela FIT puedes...<br> </br></h4>
                    <a href="#star" class="btn btn-primary btn-xl page-scroll btn-center">¡COMIENZA YA!</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trophy text-primary sr-icons" aria-hidden="true"></i>
                        <h3>Siéntete como un ganador</h3>
                        <p class="text-muted"> Alcanzarás tu objetivo con rutinas totalmente personalizadas de acuerdo  a tus características.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Registro</h3>
                        <p class="text-muted">Se menciona los registros actuales de pérdida o ganancia de calorías, circunferencia de tu cintura, frecuencia cardiaca y presión arterial.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-map-marker text-primary sr-icons" aria-hidden="true"></i>
                        <h3>¡Revisa tus avances en cualquier lugar!</h3>
                        <p class="text-muted">Inicia sesión y consulta tus avances en cualquier dispositivo.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons" style="margin-left:20px"></i>
                    <i class="fa fa-4x fa-video-camera text-primary sr-icons" style="margin-left:20px"  aria-hidden="true"></i>
                        <h3>Videos y recomendaciones</h3>
                        <p class="text-muted">Consulta los videos de las rutinas y lee las recomendaciones nutricionales que tenemos para ti.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://muyfitness.com/subir-escaleras-cuerpo-info_19366/" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/1.jpg' %}" class="img-responsive">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   ¿Qué beneficios trae el subir escaleras?
                                </div>
                                <div class="project-name">
                                    Ya sea que elijas correr hacia arriba o abajo en las escaleras...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://mejorconsalud.com/tipos-de-abdominales-y-para-que-sirven-cada-uno/" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/2.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ¡Brazos, abdomen, piernas y más!
                                </div>
                                <div class="project-name">
                                    Trabaja la mayor parte del cuerpo con.....
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/3.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    ¡Salta!
                                </div>
                                <div class="project-name">
                                    Las personas podemos saltar hasta una altura de...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/4.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Grasas naturales
                                </div>
                                <div class="project-name">
                                    Las grasas son esenciales para el organismo sin ellas...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/5.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   	Frutos Rojos
                                </div>
                                <div class="project-name">
                                    Al consumir frutos rojos nuestro...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/6.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Poco a poco
                                </div>
                                <div class="project-name">
                                    Para levantar pesas se requiere que poco a poco...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="star" class="bg-dark">
        <div class="container text-center">
        	<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
            		<div class="call-to-action">
                	<h2>¡COMIENZA YA!</h2>
                	<p class="text-faded">Porque nuestra salud es lo que nos ayuda a disfrutar la vida día con día, por eso y más, es importante mejorar tu condición física, y que mejor manera de hacerlo junto con Escuela FIT.</p>
                    <br> <br>
               		<a href="{% url 'auth_login' %}" class="btn btn-default btn-xl sr-button btn-right" style="margin-left:10px"> Iniciar sesión </a>
                    <br>
                    <a href="{% url 'registration_register' %}" class="btn btn-default btn-xl sr-button btn-right" style="margin-left:15px"> Crear una Cuenta</a>
               	</div>
              </div>
            </div>
        </div>
    </section>
{% endblock content %}