{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menú <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}"> <img src="{% static 'img/logo.png' %}" width="200" height="30"> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'index' %}">INICIO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'students:create' %}">CREAR UNA CUENTA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACTO</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>      
{% endblock navbar %}

{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">INICIAR SESIÓN</h1>
                <hr>
                <p><b><i>Bienvenido, nos da gusto verte. <br> Recuerda que la constancia y el esfuerzo son clave para el éxito.</i></br></i></b></p>
            </div>
            <div class="container">
              <form class="center-content-inner">
                <div class="form-group row">
                  <label for="example-number-input" class="col-sm-2 col-lg-offset-3 col-form-label">Correo <br> electrónico </label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" id="example-number-input" placeholder="nombre@example.com">
                  </div>
                </div> 
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-lg-offset-3 col-form-label">Password</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="contraseña">
                    </div>
                </div>
                <br>
                <a href="{% url 'profile' %}" class="btn btn-primary btn-xl page-scroll" style="
                border-radius: 6px;">Iniciar Sesión</a>
                <br>
                <br>
                <br>
                <a href="{% url 'profile' %}" class="btn btn-x1 btn-primary btn-lg btn-center page-scroll" style="background: #3b5999; border-radius: 6px;"> <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i> Iniciar sesión con <br> FACEBOOK</a>
                <a href="{% url 'profile' %}" class="btn btn-danger btn-x1 btn-lg btn-center page-scroll" style="background: #dd4b39; border-radius: 6px;"><i class="fa fa-2x fa-google-plus" aria-hidden="true"></i> Iniciar sesión con<br>GOOGLE</a>
                </form>
            </div>
            </div>
    </header>
{% endblock content %}