{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Nutrición{% endblock title %}

{% block content %}
    {% include 'main/navbar.html' with nutrition='class="active"' %}

    <header style="background-image: url({% static 'img/profile.jpg' %}); max-width:100%;width:100%;">
        <div class="header-content">
            <div class="header-content-inner">
            </div>  
        </div>
    </header>

    <section id="nutricion">
      <div class="text-center">
        <label for="find">Buscar</label>
        <input type="search" name="find" value="" placeholder="Buscar">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Manzana</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/apple.jpg' %}" alt="Manzana" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Pera</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/pear.jpg' %}" alt="Pera" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Leche</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/milk.jpg' %}" alt="Leche" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
                  <div class="col-lg-4 text-center">
                      <h2 class="section-heading">Arroz</h2>
                      <hr class="primary">
                      <img src="{% static 'img/nutrition/rice.jpg' %}" alt="Arroz" style="max-width:100%;width:100%;">
                      <div class="container"></div>
                      <br>
                      <br>
                      <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
                  </div>
                  <div class="col-lg-4 text-center">
                      <h2 class="section-heading">Huevo</h2>
                      <hr class="primary">
                      <img src="{% static 'img/nutrition/egg.jpg' %}" alt="Huevo" style="max-width:100%;width:100%;">
                      <div class="container"></div>
                      <br>
                      <br>
                      <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
                  </div>
                  <div class="col-lg-4 text-center">
                      <h2 class="section-heading">Aguacate</h2>
                      <hr class="primary">
                      <img src="{% static 'img/nutrition/avocado.jpg' %}" alt="Aguacate" style="max-width:100%;width:100%;">
                      <div class="container"></div>
                      <br>
                      <br>
                      <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
                  </div>
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Toronja</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/grapefruit.jpg' %}" alt="toronja" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Espinacas</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/spinach.jpg' %}" alt="Espinacas" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
              <div class="col-lg-4 text-center">
                  <h2 class="section-heading">Rabano</h2>
                  <hr class="primary">
                  <img src="{% static 'img/nutrition/radish.jpg' %}" alt="Rabano" style="max-width:100%;width:100%;">
                  <div class="container"></div>
                  <br>
                  <br>
                  <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">More</a>
              </div>
        </div>
      </div>
    </section>
{% endblock content %}