{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Perfil{% endblock title %}

{% block css %}
    <!-- Canvas CSS -->
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        .chart-container {
            width: 500px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 40px;
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
{% endblock css %}

{% block content %}
    <header style="background-image: url({% static 'img/profile.jpg' %}); max-width:100%;width:100%;">
        <div class="header-content">
            <div class="header-content-inner">
            </div> 	
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">REGISTRO DE TUS AVANCES</h2>
                    <hr class="primary">
                    <h4>Recuerda que es importante tu constante asistencia para obtener buenos resultados.</h4>
                    <div class="container"></div>
                    <br>
                    <br>
                </div>
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                   <a href="#registros" class="btn btn-primary btn-xl page-scroll btn-center">Consulta tus Registros</a> &nbsp;
                   <a href="{% url 'nutrition:list' %}" class="btn btn-primary btn-xl page-scroll btn-center">CONSULTAR MI DIETA</a>
                </div>
            </div>
        </div>
        <br>
        <br>
    <!---ATTENDANCE GRAPH-->
        <div class="wrapper col-lg-offset-2" id="asistencia">
            <div class="chart-container  col-xs-offset-12" style=" width: 80%;">
                <canvas id="attendanceGraph"></canvas>
            </div>      
        </div>
        
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">AVANCES DE TUS REGISTROS</h2>
                    <hr class="primary">
                    <div class="container"></div>
                    <br>
                    <br>
                    <a href="{% url 'record:create' request.user.student.pk %}" class="btn btn-primary btn-xl page-scroll btn-center">Registra tus datos físicos</a>
                </div>
            </div>
        </div>
        <br>
        <br>

    <!---WEIGHT GRAPH-->
        <div class="wrapper col-lg-offset-2" id="registros">
            <div class="chart-container col-xs-offset-12" style=" width: 80%;">
                <canvas id="weightGraph"></canvas>
            </div>      
        </div>

    <!---WAIST CIRCUMFERENCE GRAPH-->
        <div class="wrapper col-lg-offset-2">
            <div class="chart-container col-xs-offset-12" style=" width: 80%;">
                <canvas id="waistGraph"></canvas>
            </div>      
        </div>

    <!---RESTING HEART RATE GRAPH-->
        <div class="wrapper col-lg-offset-2">
            <div class="chart-container col-xs-offset-12" style=" width: 80%;">
                <canvas id="heartGraph"></canvas>
            </div>      
        </div>

    <!---BLOOD PRESSURE GRAPH-->
        <div class="wrapper col-lg-offset-2">
            <div class="chart-container col-xs-offset-12" style=" width: 80%;">
                <canvas id="bloodGraph"></canvas>
            </div>      
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/graphics/utils.js' %}"></script>
    <script src="{% static 'js/graphics/render.js' %}"></script>    
    <script>
        {% for graph in data_graphs %}
            var ctx = document.getElementById('{{ graph.id }}').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ graph.labels|safe }},
                    datasets: [{
                        label: '{{ graph.label }}',
                        backgroundColor: '{{ graph.backgroundColor }}',
                        borderColor: '{{ graph.borderColor }}',
                        data: {{ graph.data }}
                    }]
                },
                 options: {
                    responsive:true,
                    title: {
                        display: true,
                        text: '{{ graph.text }}'
                    },
                    legend: {
                        labels: {
                            fontColor: 'black',
                            fontStyle: 'cursive',
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                }
            });
        {% endfor %}
    </script>
{% endblock javascript %}
