{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Registro{% endblock title %}

{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menú <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}"> <img src="{% static 'img/logo.png' %}" width="200" height="30"> </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'index' %}">INICIO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'login' %}">INICIAR SESIÓN</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACTO</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>      
{% endblock navbar %}

{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">REGISTRO</h1>
                <hr>
                <p><b><i>Para iniciar tu registro ingresa los datos que a continuación se te solicitan.</i></b></p>
            </div>
        
            <div class="container">
              <form class="center-content-inner">
                <div class="form-group row">
                    <label for="carrera" class="col-sm-2 col-lg-offset-3 col-form-label">Actividad</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="carrera" >
                          <option>Estudiante</option>
                          <option>Ama de casa</option>
                          <option>Docente</option>
                          <option>Oficinista</option>
                          <option>Deportista</option>
                          <option>Otro</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="semestre" class="col-sm-2 col-lg-offset-3 col-form-label">Sexo</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="exampleSelect1" >
                          <option>Mujer</option>
                          <option>Hombre</option>
                        </select>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="inputNombre3" class="col-sm-2 col-lg-offset-3 col-form-label">Nombres</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputNombre3" placeholder="Nombre">
                        </div>
                </div>
                <div class="form-group row">
                    <label for="inputApellidos3" class="col-sm-2 col-lg-offset-3 col-form-label">Apellidos</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Apellidos">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-number-input" class="col-sm-2 col-lg-offset-3 col-form-label">Edad</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" id="example-number-input" placeholder="Number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-lg-offset-3 col-form-label">Email</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-lg-offset-3 col-form-label">Contraseña</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="clave">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCpassword3" class="col-sm-2 col-lg-offset-3 col-form-label">Confirmar Contraseña</label>
                    <div class="col-sm-3">
                        <input type="Cpassword" class="form-control" id="inputCpassword3" placeholder="clave">
                    </div>
                </div>
                    <br>
                    <a href="./cuentac.html" class="btn btn-primary btn-xl page-scroll">Crear una Cuenta</a>
                </form>
            </div>

        </div>
    </header>
{% endblock content %}
