{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Clima{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/bulma/bulma2.css' %}">

    <style>
        @media (min-width: 768px) {
          header .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
          }
        }
    </style>
{% endblock css %}


{% block content %}
    {% include 'main/navbar.html' with weather='class="active"' %}

    <header style="background-image: url({% static 'img/weather/weather.jpg' %}); max-width:100%;width:100%;">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Calidad del Aire</h1>
            </div> 	
        </div>
    </header>

    <section>
        <div class="container">
            <p>Contingencia: {{ pollution }}</p>
            <p>Temperatura actual: {{ weather.temp }} °C</p>
            <p>Temperatura mínima: {{ weather.temp_min }} °C</p>
            <p>Temperatura máxima: {{ weather.temp_max }} °C</p>
            <p>Humedad: {{ weather.humidity }}%</p>

            <!-- <div class="row">
                <div class="card col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="card-image">
                        <figure class="image is-2by1">
                        <img src="{% static 'img/weather/doctor.jpg' %}" alt="Doctor">
                        </figure>
                    </div>
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Precontingencia<br> (>160 puntos de ozono)</p>
                            <p class="subtitle is-6">Ten en cuenta las siguientes recomendaciones:</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>Utiliza medios de transporte alternativos al automóvil como bicicleta.</li>
                                <li>Evita actividades prolongadas al aire libre.</li>
                                <li>En caso de alguna complicación de salud, acude a la atención médica.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br> <br>
            <br>
            <div class="row">
                <div class="card col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="{% static 'img/weather/buildings.jpg' %}" alt="edificios">
                        </figure>
                    </div>
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Contingencia Fase 1<br> (>190 puntos de ozono)</p>
                            <p class="subtitle is-6">Ten en cuenta las siguientes recomendaciones:</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>Evita salir de casa, mantén ventanas y puertas cerradas.</li>
                                <li>Evita las actividades deportivas o recreativas en el extereor.</li>
                                <li>En caso de alguna complicación de salud, acude a la atención médica.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br> <br>
            <br>
            <div class="row">
                <div class="card col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="card-image">
                        <figure class="image is-2by1">
                        <img src="{% static 'img/weather/danger.jpg' %}" alt="peligro">
                        </figure>
                    </div>
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Contingencia Fase 2<br> (>240 puntos de ozono)</p>
                            <p class="subtitle is-6">Ten en cuenta las siguientes recomendaciones:</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>La calidad del aire es extremadamente mala por lo que se suspenden actividades fuera del hogar.</li>
                                <li>En caso de alguna complicación de salud, acude a la atención médica.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br> <br>
            <br> -->
    </section>
{% endblock content %}
