{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Rutina{% endblock title %}

{% block content %}
    {% include 'main/navbar.html' with workout='class="active"' %}

    <header style="background-image: url({% static 'img/profile.jpg' %}); max-width:100%;width:100%;">
        <div class="header-content">
            <div class="header-content-inner">
            </div> 	
        </div>
    </header>

    <section id="rutinas" class="no-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">CONSULTA TU RUTINA</h2>
                    <hr class="primary">
                    <h4>Recuerda que es importante tu constante asistencia para obtener buenos resultados.</h4>
                    <div class="container"></div>
                    <br>
                    <br>
                </div>
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4>¿HOY PUEDO EJERCITARME?</h4>
                   <a href="{% url 'weather' %}" class="btn btn-primary btn-xl page-scroll btn-center">Consulta la calidad del aire</a> &nbsp;
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <br>
                    <h3 class="section-heading">Debido a tu condición física se recomienda que realices las siguientes actividades.</h3>
                </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            <div class="col-xs-4 col-lg-8 col-lg-offset-4 col-xs-offset-1 text-center">
                <div class="card" style="width: 38rem;">
                  <img class="card-img-top" src="{% static 'img/workout/workout_1.jpg' %}" alt="Card image cap" style="border-radius: 10px;">
                  <div class="card-body">
                        <h4>Comienza el día</h4><br>
                    <p class="card-text">Comienza con 10 Abdominales de 3 repticiones, mientras alternas con 10 sentadillas todo por 20min.</p>
                    <a href="https://youtu.be/k_u8obkaGE4" class="btn btn-primary btn-xl page-scroll btn-center">VER VIDEO</a>
                  </div>
                    <br>
                    <br>
                    <br>
                    <br>
                <div class="card" style="width: 38rem;">
                  <img class="card-img-top" src="{% static 'img/workout/workout_2.jpg' %}" alt="Card image cap" style="border-radius: 10px;">
                  <div class="card-body">
                    <h4>Medio día</h4><br>
                    <p class="card-text">Corre por 30min o toma 1hr de caminata</p>
                    <a href="https://youtu.be/k_u8obkaGE4" class="btn btn-primary btn-xl page-scroll btn-center">VER VIDEO</a>
                  </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="card" style="width: 38rem;">
                  <img class="card-img-top" src="{% static 'img/workout/workout_4.jpg' %}" alt="Card image cap" style="border-radius: 10px;">
                  <div class="card-body">
                    <h4>Tarde</h4><br>
                    <p class="card-text">Salta por 30min, brindará fuerza para tus piernas.</p>
                    <a href="https://www.youtube.com/watch?time_continue=23&v=h1kRFvlsi" class="btn btn-primary btn-xl page-scroll btn-center">MÁS INFORMACIÓN</a>
                  </div>
                </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="alert alert-danger text-center" role="alert">
        RECUERDA CONSULTAR LA SECCIÓN DE <a href="{% url 'weather' %}" class="alert-link">CLIMA</a> ANTES DE CUALQUIER ACTIVIDAD, ES RECOMENDABLE QUE CONSIDERES SI ES APTA O NO LA CALIDAD DEL AIRE PARA REALIZAR ALGUNA ACTIVIDAD DEPORTIVA.
        <br>
        <br>
        </div>    
    </section>
{% endblock content %}