{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Asistencia{% endblock title %}

{% block css %}
    <style>
        .wrapper{
            width: 100%;
        }
    </style>
{% endblock css %}

{% block nav_pase_lista %}class="active"{% endblock nav_pase_lista %}

{% block content %}
    <div class="wrapper"></div>
{% endblock content %}

{% block javascript %}
    <script>
        var ajax_request = $.ajax({
            url: '{% url 'pase_lista:asistencia' %}',
            type: 'GET',
            data: {},
            success: function(data_response) {
                $('.wrapper').append(data_response);
            }
        });

        setInterval(ajax_request, 1000);
    </script>
{% endblock javascript %}