{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <style>
    	.container {
    		margin-top: 80px;
    	}
        hr.hr-title {
            width: 100%;
            max-width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
{% endblock css %}

{% block content %}
	<div class="container">
		<h1 class="text-center">{{ title|upper }}</h1>
        <h3 class="text-center">{{ total_calories }} kcal</h3>
        <br>
		{% for type, food, nf in diet %}
			<h2>{{ type }}</h2><hr class="hr-title">
			<ul>
                <li><b class="lead">{{ food }}</b>
                    <ul>
                        <li>Cantidad sugerida: {{ food.cantidadsugerida }} {{ food.unidad }}</li>
                        <li>Calorías: {{ food.energiakcal }}</li>
                        <li><a href="{% url 'nutrition:update_food' nf.food_table nf.pk %}" class="btn">Editar</a></li>
                    </ul>
                </li>
            </ul>
			<br>
		{% endfor %}
        <a href="{% url 'nutrition:list' %}" class="btn btn-primary btn-lg">Volver</a>
	</div>
{% endblock %}
