{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Nutrition{% endblock title %}

{% block css %}
    <style>
        hr.hr-tab {
            width: 100%;
            max-width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
{% endblock css %}

{% block content %}
    {% spaceless %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">BIENVENIDO  <br>A  ESCUELA FIT</br></h1>
                <hr>
                <p><b>"Ejercítate, es una buena forma de darle gracias a nuestro cuerpo."</b></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">¿Qué es Escuela Fit?</a>
            </div>
        </div>
    </header>
        <h1>{{ title }}</h1><hr class="hr-tab">

        <ul class="nav nav-tabs">
            {% for letter in letters %}
                {% if forloop.counter == 1 %}
                    <li class="active"><a data-toggle="tab" href="#{{ letter }}"><b>{{ letter }}</b></a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{ letter }}"><b>{{ letter }}</b></a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <form action="" method="post">
            {% csrf_token %}
            <div class="tab-content" style="overflow: hidden;">
                    {% for letter in letters %}
                        {% if forloop.counter == 1 %}
                            <div id="{{ letter }}" class="tab-pane fade in active">
                        {% else %}
                            <div id="{{ letter }}" class="tab-pane fade">
                        {% endif %}
                    
                            {% for piece in food %}
                                {% if piece.alimentos|slice:":1" == letter %}
                                    <input type="radio" name="{{ key }}" value="{{ piece }}" id="{{ piece }}" />
                                    <label for="{{ piece }}">{{ piece }}</label><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
            </div>
            <input type="submit" value="Seleccionar" class="btn btn-primary" />
        </form>
    {% endspaceless %}
{% endblock content %}

{% block javascript %}
    <script>
        $(function() {
            $('div').each(function() {
                if ($(this).children().length == 0) {
                    $(this).append("<p>No hay datos</p>");
                }
            });
        });
    </script>
{% endblock javascript %}
