{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Nutrition{% endblock title %}

{% block css %}
    <style>
        hr.hr-tab {
            width: 100%;
            max-width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
{% endblock css %}

{% block content %}
    {% spaceless %}
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">GUIA DE NUTRICIÓN</br></h1>
                    <hr>
                </div>
            </div>
        </header>
        <h1>{{ title }} <i>(Selecciona {{ quantity }})</i></h1><hr class="hr-tab">

        <ul class="nav nav-tabs">
            {% for letter in letters %}
                {% if forloop.counter == 1 %}
                    <li class="active"><a data-toggle="tab" href="#{{ letter }}"><b>{{ letter }}</b></a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{ letter }}"><b>{{ letter }}</b></a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="tab-content" style="overflow: hidden;">
                    {% for letter in letters %}
                        {% if forloop.counter == 1 %}
                            <div id="{{ letter }}" class="tab-pane fade in active">
                        {% else %}
                            <div id="{{ letter }}" class="tab-pane fade">
                        {% endif %}
                    
                            {% for piece in food %}
                                {% if piece.alimentos|slice:":1" == letter %}
                                    {% if quantity == 1 %}
                                        <input type="radio" name="{{ key }}" value="{{ piece }}" id="{{ piece }}" />
                                    {% else %}
                                        <input type="checkbox" name="{{ key }}" value="{{ piece }}" id="{{ piece }}" />
                                    {% endif %}
                                    <label for="{{ piece }}">{{ piece }}</label><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
            </div>
            <input type="submit" value="Seleccionar" class="btn btn-primary" {% if quantity == 1 %} onsubmit="checkFood(e);" {% endif %} />
        </form><br>
        <div id="selected"></div>
    {% endspaceless %}
{% endblock content %}

{% block javascript %}
    <script>
        $(function() {
            $('div').each(function() {
                if ($(this).children().length == 0) {
                    if(this.id != 'selected') {
                        $(this).append("<p>No hay datos</p>");
                    }
                }
            });
        });

        $('#form :checkbox').change(function() {
            id_check = this.id;
            id_check = id_check.replace(/\s/g, '_');
            if (this.checked) {
                $('#selected').append('<button id="'+ id_check +'" onclick="remove(this);">' + this.value + '</button>');
            } else {
                id_check = 'button#' + id_check;
                $(id_check).remove();
            }
        });

        function remove(element) {
            btn_id = 'button#' + element.id;
            check_id = element.id.replace(/_/g, ' ');
            $(btn_id).remove();
            document.getElementById(check_id).checked = false;
        }

        $('#form').submit(function(e) {
            e.preventDefault();
            checks = $('#form :checkbox:checked').length;
            if (checks != {{ quantity }}) {
                alert('Debes seleccionar {{ quantity }}')
            }
        });
    </script>
{% endblock javascript %}
