body{
	font-family: 'Teko', sans-serif;
}

.fm{
	margin: auto;
	display: table;
}

h1{
	float: left;
	color:black;
	position: relative;
}

h1, span{
	position: absolute;
	right: 0;
	width: 0;
	background:1px solid #000;

	animation: maquina 5s infinite alternate steps(29);
}

@keyframes maquina {

	from{
		width: 100%;
	}

	to{
		width: 0;
	}
}