{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Reporte{% endblock title %}

{% block css %}
    <style>
        .container {
            margin-top: 80px;
        }
        .card {
            border: 1px solid rgba(0,0,0,0.3);
            box-shadow: 0 3px 3px rgba(0,0,0,0.8);
            padding: 15px;
        }
    </style>
{% endblock css %}

{% block content %}
    <header style="background-image: url({% static 'img/health.jpg' %})"></header>
    <div class="container">
        <h1 class="text-center">REGISTROS FÍSICOS</h1>
        {% if record %}<a href="{% url 'record:create' request.user.student.pk %}">Registrar datos</a>{% endif %}<br><br>
        {% for r in record %}
            <div class="card">
                <p class="lead">{{ r.date }} <a href="{% url 'record:update' r.pk %}">Editar</a>  <a href="{% url 'record:delete' r.pk %}">Eliminar</a></p> 
                <ul>
                    <li>Estatura (m): <b>{% if r.height %}{{ r.height }}{% else %}---{% endif %}</b></li>
                    <li>Peso (kg): <b>{% if r.weight %}{{ r.weight }}{% else %}---{% endif %}</b></li>
                    <li>Circunferencia cintura (cm): <b>{% if r.waist_circumference %}{{ r.waist_circumference }}{% else %}---{% endif %}</b></li>
                    <li>Frecuencia cardiaca (latidos/minuto): <b>{% if r.resting_heart_rate %}{{ r.resting_heart_rate }}{% else %}---{% endif %}</b></li>
                    <li>Presión arterial (mmHg): <b>{% if r.blood_pressure %}{{ r.blood_pressure }}{% else %}---{% endif %}</b></li>
                </ul>
            </div>
        {% empty %}
            <p class="lead">Aún no tienes registros de tus datos físicos.</p>
            <a href="{% url 'record:create' request.user.student.pk %}">Regístralos</a>
        {% endfor %}
    </div>
{% endblock content %}