{% extends "../../base.html" %}

{% block title %}Info | {{ object.alumno|title }}{% endblock title %}

{% block nav_alumnos %}active{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'alumnos:list' %}">Alumnos</a></li>
        <li><a href="{% url 'alumnos:list_fisicos' %}">Datos Físicos</a></li>
        <li class="active">{{ object.alumno|title }}</li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="jumbotron row">
        <h1 class="text-center">{{ object.alumno|title }}</h1>
        <br /><br />
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-10 col-md-offset-1">
            <p class="col-sm-6"><b>Alumno:</b></p><p class="col-sm-6">{{ object.alumno|title }}</p>
            <p class="col-sm-6"><b>Estatura:</b></p><p class="col-sm-6">{{ object.estatura }} m</p>
            <p class="col-sm-6"><b>Peso:</b></p><p class="col-sm-6">{{ object.peso }} kg</p>
            <p class="col-sm-6"><b>Circunferencia de la cintura:</b></p><p class="col-sm-6">{{ object.circunferencia_cintura }} cm</p>
            <p class="col-sm-6"><b>Frecuencia cardiaca en reposo:</b></p><p class="col-sm-6">{{ object.frecuencia_reposo }} latidos/minuto</p>
            <p class="col-sm-6"><b>Presión arterial:</b></p><p class="col-sm-6">{{ object.presion_arterial }} Hg mm</p>
            <p class="col-sm-6"><b>Fecha:</b></p><p class="col-sm-6">{{ object.fecha }}</p>
            <div class="clearfix visible-sm visible-md visible-lg"></div>
        </div>
        <br /><br />
        <div class="col-xs-12 text-center">
            <a href="{% url 'alumnos:list_fisicos' %}" class="btn btn-primary">Regresar</a>
            <a href="{% url 'alumnos:update_fisicos' object.id %}" class="btn btn-success">Modificar</a>
        </div>
    </div>
{% endblock content %}
